.App {
    font-family: sans-serif;
}

.outerDiv {
    width: 400px;
    background-color: #d1d1d1;
    height: 8px;
    border-radius: 4px;
    margin: 10px;
}

.innerDiv {
    background-color: #222;
    height: 100%;
    border-radius: 4px;
}

.button {
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
}